#homework1
complete-testoutput1.txt
complete-testoutput2.txt
complete-testoutput3.txt
corr-testoutput1.txt
corr-testoutput2.txt
corr-testoutput3.txt
getmonitor-testoutput1.txt
getmonitor-testoutput2.txt
specdata/

#homework2
hospital-data.csv
outcome-of-care-measures.csv
Hospital_Revised_Flatfiles.pdf
best-*-output.txt
rankhospital-*-output.txt
rankall-*-output.txt
